<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>
<p class="text-primary" style="padding: 2%"> I am 21 years old and in my second year of computer programming at Georgian College.
    I was born and raised in Toronto. I enjoy back end development.</p>

<% include partials/footer.ejs %>
