<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>
<p class="text-primary">These are some of the projects I have taken part in:</p>

<ul class="list-group-item"> Java Bank Final Project </ul>
<ul class="list-group-item"> Shopping Cart Website </ul>


<% include partials/footer.ejs %>
