<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>
<p class="text-primary">These are the services I currently provide:</p>

<ul class="list-group-item"> Front end web development </ul>
<ul class="list-group-item"> Back end web development </ul>
<ul class="list-group-item"> Java Programming</ul>
<ul class="list-group-item"> Database Administration </ul>

<% include partials/footer.ejs %>
